.list-group {
    padding: 1rem;
}

.list-group-item {
    background-color: transparent; /* Default background */
    color: black; /* Default text color */
    padding: 10px; /* Add padding for better touch targets */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

.list-group-item:hover {
    background-color: #488aec; /* Use the button color on hover */
    color: white; /* Text color on hover */
}

.list-group-item-active {
    background-color: #0056b3; /* A darker shade of the button color for active state */
    color: white; /* Active link text color */
}



.custom-list-item {
    color: gray; /* Default text color */
    transition: color 0.3s ease;
}

.custom-list-item-action {
    cursor: pointer;
    text-decoration: none; /* Link underline ko hataana */
}

.custom-list-item-action:hover {
    color: #dc3545; /* Bootstrap ka danger color */
}

.custom-list-item-action:hover svg {
    color: #dc3545; /* Icon ka color bhi danger color mein */
}

