/* .catprd-header {
    overflow: hidden;
    position: relative;
    z-index: 1000; 
    background: white;
} */

html, body {
    height: 100%;
    margin: 0;
}

.container-fluid-catprd {
    padding: 0 15px;
    max-height: 100vh; 
}


.section-title-catprd {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 10px; 
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
}

.section-title-catprd::before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 2px;
    background: #007bff;
}

.sidebar-catprd {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    max-height: 100vh;
    overflow-y: auto; 
    flex: 0 0 25%; 
}


.products-catprd {
    flex: 1;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    margin-top: 10px; 
}

.product-item-catprd {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}


.product-img-catprd img {
    transition: transform 0.3s;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.product-img-catprd:hover img {
    transform: scale(1.1);
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
}



/* .filters-container {
    margin-top: 10px; 
    margin-bottom: 70px;
  } */
  