h2{
    font-size: '20px';
    font-weight: bold;
 }
 .order-name{
    text-align: left;
    margin-top: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3D464D;
    font-weight: 'bolder';
 }

 
 .title-order-link{
    font-weight: bold;
    color: #007bff;
 }

 .img-fluid{
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
 }

 .custom-label{
    font-weight: 250;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #455A64 !important;
    text-decoration: none;
    cursor: default;
    
}

#progressbar li a {
    text-decoration: none; 
  }

#progressbar #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 15px !important;
    padding-left: 11px !important;
}


#progressbar #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
    padding-left: 10px;

}

#progressbar #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 15px !important;
    padding-right: 11px !important;
    padding-left: 10px;
}

#progressbar #step4:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 15px !important;
    padding-right: 11px !important;
    padding-left: 10px;
}
/* #progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64 ;
    border-radius: 50%;
    margin: auto;
    
} */

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
    /* position: relative; */
    top: -10px;
    width: 30px; /* Set a fixed width for circles */
    height: 30px; /* Set a fixed height for circles */
}


 #progressbar li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
} 

/* #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: -50%;
    right: -50%;
    top: 15px; 
    z-index: -1;

} */

#progress1{
    color: #455A64;
    padding-left: 5px;
    margin-top: 0.9px
}
 #progress2{
    color: #455A64;
    padding-left: 70px;
    margin-top: 0.9px
}

 #progress3{
    color: #455A64;
    padding-left: 100px;
    margin-top: 0.9px
} 

#progressbar li#step3 {
    color: red; 
}

#progressbar li#step3.active:before {
    background: red;
}

#progressbar li#step3.active {
    font-weight: bold;
}

#progressbar li#step4 {
    color: green; 
}

#progressbar li#step4.active:before {
    background: green;
}

#progressbar li#step4.active {
    font-weight: bold; 
}



#progressbar li.active:before,
#progressbar li.active:after {
    background: #4bb8a9; 
}


#progressbar li:nth-child(2):after {
    left: 50%;
}

#progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%;
}
#progressbar li:nth-child(3):after {
    left: 25% !important;
    width: 50% !important;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #4bb8a9; 
} 



.back-btn:hover{

    cursor: pointer;
}